
/* searchLightPrivacyPolicy.css */

/* Add your custom CSS rules here */
.container {
    max-width: 800px;
    margin: 0 auto;
  }

  body {
    /* background: linear-gradient(to bottom right, transparent 0%, #BCD4F8 25%, #7BAFFE, #BCD4F8 75%, transparent 100%); */
    color: #D3F7FF;
    padding: 40px
}

  
  /* Customize styles for specific elements on your page */
  h3 {
    font-weight: 600;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  

/* Style App Icon of the SearchLight Privacy page */

.app-icon {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    z-index: 1000; /* Ensure the icon appears above other content */
    border-radius: 6%; /* Makes the corners rounded */
    box-shadow: 0 0 10px #BCD4F8; /* Outer glow effect */
  }